<h4>Filtr Ksiazek</h4>

@(Html.Kendo().DropDownList()
          .Name("DictGenre")
          .DataTextField("Name")
          .DataValueField("BookGenreId ")
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetDictGenre", "Report");
              });
          })
          .HtmlAttributes(new { style = "width: 20%" })
)
@(Html.Kendo().AutoComplete()
          .Name("Title")
          .DataTextField("Title")
          .Filter("contains")
          .MinLength(3)
          .HtmlAttributes(new { style = "width:20%" })
          .Value("")
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetTitle", "Report")
                      .Data("onAdditionalData");
              })
              .ServerFiltering(true);
          })
)
@(Html.Kendo().DatePicker()
              .Name("dataFromDatePicker")
              .Value(DateTime.Today.Subtract(TimeSpan.FromDays(30)))
              .Start(CalendarView.Month)
              .HtmlAttributes(new { style = "width: 20%" })
)
@(Html.Kendo().DatePicker()
              .Name("dataToDatePicker")
              .Value(DateTime.Today)
              .HtmlAttributes(new { style = "width: 20%" })
)
<input type="button" value="Filter" id="flt-btn" />
<input type="button" value="Reset"id="rst-btn" />