@{
    ViewBag.Title = "Index";
}

<h2>Report</h2>

@{ Html.RenderAction("UserWithFilter", "Report");}
@{ Html.RenderAction("BookWithFilter", "Report");}
@{ Html.RenderPartial("BookFilter", "Report");}


<script>
    $(document).ready(
        function()
        {
            $("#DictGenre").data("kendoDropDownList").value("");
            $("#dataFromDatePicker").data("kendoDatePicker").value("");
            $("#dataToDatePicker").data("kendoDatePicker").value("");
        })

    function dataToRet() {
        var Title = $("#Title").val();
        var isUndef = $("#DictGenre").data("kendoDropDownList"); 
        if( isUndef != undefined )
        {
            var GenreId = $("#DictGenre").data("kendoDropDownList").value();
            var BorrowFrom = kendo.toString($("#dataFromDatePicker").data("kendoDatePicker").value(), "MM-dd-yyyy h:mm:ss tt");
            var BorrowTo = kendo.toString($("#dataToDatePicker").data("kendoDatePicker").value(), "MM-dd-yyyy h:mm:ss tt");
        }
        else {
            var GenreId = -1;
            var BorrowFrom = "";
            var BorrowTo = "";
        }
        return {
            title: Title,
            genreId: GenreId,
            borrowFrom: BorrowFrom,
            borrowTo: BorrowTo
        }
    }
    $(document).on("click", ("#flt-btn"), function () {
        var bookGrid = $("#BookWithFilterGrid").data("kendoGrid");
        bookGrid.dataSource.read();
        bookGrid.refresh();
    })
    $(document).on("click", ("#rst-btn"), function () {
            var bookGrid = $("#BookWithFilterGrid").data("kendoGrid");
            var autoComplete = $("#Title").data("kendoAutoComplete");
            $("#dataFromDatePicker").data("kendoDatePicker").value("");
            $("#dataToDatePicker").data("kendoDatePicker").value("");
            $("#DictGenre").data("kendoDropDownList").value("");
            autoComplete.value("");
            bookGrid.dataSource.read();
            bookGrid.refresh();
    })
    function onAdditionalData() {
        var newTitle = { "Title": $("#Title").val() }
        return newTitle;
        };
</script>
