@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ Html.RenderAction("UserWithFilter", "Report");}
@{ Html.RenderAction("BookWithFilter", "Report");}
@{ Html.RenderPartial("BookFilter", "Report");}


<script>
    $(document).ready(
        function()
        {
            $("#DictGenre").data("kendoDropDownList").value("");
            $("#dataFromDatePicker").data("kendoDatePicker").value("");
            $("#dataToDatePicker").data("kendoDatePicker").value("");
        })
    $(document).on("click", ("#flt-btn"), function () {
        var url = '@Url.Action("FilterBooks", "Report")';
        var GenreId = $("#DictGenre").data("kendoDropDownList").value();
        var Title = $("#Title").val();
       
        var dataPicker = $("#dataFromDatePicker").data("kendoDatePicker").value();
        var BorrowFrom = kendo.toString(dataPicker, "MM-dd-yyyy h:mm:ss tt");

        var dataPicker1 = $("#dataToDatePicker").data("kendoDatePicker").value();
        var BorrowTo = kendo.toString(dataPicker1, "MM-dd-yyyy h:mm:ss tt");
        var FilterData = {
            "GenreId": GenreId,
            "Title": Title,
            "BorrowFrom": BorrowFrom,
            "BorrowTo": BorrowTo
        };
        $.post(url, FilterData, function (data) {
            var bookGrid = $("#BookWithFilterGrid").data("kendoGrid");
            $.each(data, function (index) {
                data[index].AddDate = new Date(parseInt(data[index].AddDate.substr(6)));
            });
            bookGrid.dataSource.data(data);
            bookGrid.refresh();
        })
    })
    $(document).on("click", ("#rst-btn"), function () {
            var bookGrid = $("#BookWithFilterGrid").data("kendoGrid");
            var url = '@Url.Action("GetBooks", "Report")';

            $.get(url,function (data) {
                var bookGrid = $("#BookWithFilterGrid").data("kendoGrid");
                bookGrid.dataSource.data(data);
                bookGrid.refresh();
            })
            
            var autoComplete = $("#Title").data("kendoAutoComplete");
            $("#dataFromDatePicker").data("kendoDatePicker").value("");
            $("#dataToDatePicker").data("kendoDatePicker").value("");
            $("#DictGenre").data("kendoDropDownList").value("");
            autoComplete.value("");

        
    })
    function onAdditionalData() {
        var newTitle = { "Title": $("#Title").val() }
        return newTitle;
        };
    
    
</script>
