
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ Html.RenderAction("UserWithFilter", "Report");}
@{ Html.RenderAction("BookWithFilter", "Report");}
@{ Html.RenderPartial("BookFilter", "Report");}


<script>
    $(document).ready(
        function()
        {
            debugger;
            alert("ready");
            
                        

        })
    function onAdditionalData() {
        debugger;
        var newTitle = { "Title": $("#Title").val() }
        return newTitle;
           
        };
    
    function LastNameFilter(element)
    {
        var url = '@Url.Action("FilterLastName","Report")';
            element.kendoAutoComplete({
                dataTextField: "LastName",
                filter: "startswith",
                minLength: 3,
                dataSource: {
                    type: "odata",
                    serverFiltering: true,
                    transport: {
                        read: url
                    }
                }
            });
    }
</script>
