@model IList<WebModelServices.ReportsModel.ViewModel.UserWithFilterViewModel>

@(Html.Kendo().Grid<WebModelServices.ReportsModel.ViewModel.UserWithFilterViewModel>()
        .Name("UserWithFilterGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.FirstName)
              .Width(240);
            columns.Bound(c => c.LastName).Filterable(filterable => filterable.UI("LastNameFilter"));

        })
        .HtmlAttributes(new { style = "height: 500px;" })
        .DataSource(dataSource => dataSource
        .Ajax()
            .Read(read => read.Action("FilterUserss", "Report"))
            .PageSize(20))
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(10))

)
<h4>partial</h4>