<div class="demo-section k-content" id="Testowy">
    <h4>Users</h4>
    <div id="dropDownDiv">
        @(Html.Kendo().DropDownList()
          .Name("UserId")
          .DataTextField("Name")
          .DataValueField("UserId")
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetUsers", "Borrow");
              });
          })
          .HtmlAttributes(new { style = "width: 100%" })
        )
    </div>
    
    <input type="button" value="Add next" id="addNext" />
     
</div>
<script>
    var TempId = 1;
    @*function retrieveData(id) {
        debugger;
        var dropDownList = $(id).data("kendoDropDownList");
        var url = '@Url.Action("RetrieveBorrows", "Borrow")';
        $.get(url, function (data) {
            dropDownList.content(data);
        })
    };*@
    $(document).on("click", ("#addNext"), function addNextBorrowDropDownList(e) {
        var dropdownlist = "<input id=" + "\"dropdownlist" + TempId + "\"/>"+"<input id=\"rem-btn"+TempId+"\""+"type=\"button\" value=\"Remove\"/>"
        var newdropDownId = "#dropdownlist" + TempId;
        var header = "<h4>" + newdropDownId + "</h4>"
        $("#dropDownDiv").append(header);
        $("#dropDownDiv").append(dropdownlist);

        addDropDownList(TempId);
        TempId++;
    });

    function addDropDownList(id)
    {
        
        var dropDownId = "#dropdownlist" + id;
        if (id > 1)
        {
            debugger;
            id--;
            var previousDropDownId = "#dropdownlist" + id;
            var previousdropDownList = $(previousDropDownId).data("kendoDropDownList");
            var bookId = previousdropDownList.value();
            var url = '@Url.Action("RetrieveBorrows", "Borrow")' + "/" + bookId;
        }
        else
        {
            var url = '@Url.Action("RetrieveBorrows", "Borrow")'+"/"+ 0;

        }
        var dropDownList = $(dropDownId).data("kendoDropDownList");
        $.get(url, function (data) {
            $(dropDownId).kendoDropDownList({
                  dataSource: data,
                  dataTextField: "Title",
                  dataValueField: "BookId",
                  animation: {
                    close: {
                              effects: "fadeOut zoom:out",
                              duration: 300
                    },
                    open: {
                              effects: "fadeIn zoom:in",
                              duration: 300
                    }
                  }
            });
        })
    }
</script>